<jsf-component
  [schemaData]="schemaData"
  [config]="config"
  [templates]="{ testTemplate1: testTemplate1, spike: spike }"
  (disableSubmit)="updateSubmitButtonStatus($event)"
  (formHeightChange)="emitTotalHeight($event)"
  (buttonEvent)="buttonEvent($event)"
  (templateEvent)="templateEvent($event)">
</jsf-component>

<div *ngIf="showValidationMessage"
     class="validation"
     [ngClass]="isValid ? 'valid' : 'not-valid'">
    <p *ngIf="isValid">Validation Successful!</p>
    <p *ngIf="!isValid">Validation NOT Successful!</p>
</div>

<div class="submit-row">
  <button class="btn btn-secondary"
          (click)="onLogForm()"
          title="This will log the form.">Log Form</button>
  <button class="btn btn-secondary"
          (click)="onLogFormValues()"
          title="This will log the form values from JSF without validating them.">Log Form Values</button>
  <button class="btn btn-secondary"
          (click)="onCancel()"
          title="This will reload the form.">Cancel</button>
  <button class="btn btn-primary"
          [disabled]="isSubmitDisabled"
          (click)="onSubmit()"
          title="This will validate the form.">Submit</button>
</div>

<ng-template #testTemplate1>
  <app-template-test></app-template-test>
</ng-template>

<ng-template #spike>
  <div [ngClass]="{'hidden': hideSpike}" >
    <label for="cars">Choose a car:</label>
    <select name="cars" id="cars" (change)="selectChanged($event.target.value)">
      <option *ngFor="let i of options">{{i}}</option>
    </select>
  </div>
</ng-template>
